*.coverage
*.dll
*.ilk
*.pdb
*.bsc
*.obj
*.sbr
*.tlog
*.vsp
*.db
*.suo
Debug/Test.exp
Debug/Test.lib
Debug/TestMath.exp
Debug/TestContainer.exp
Debug/Tile3D.lib.lastcodeanalysissucceeded
Tile3D/Debug/vc.nativecodeanalysis.all.xml
Tile3D/Debug/tvector3.nativecodeanalysis.xml
Tile3D/Debug/tmatrix3.nativecodeanalysis.xml
ipch/TESTMATH-1505ca23/TESTMATH-12907af6.ipch
Test/TestMath/Debug/TestMath.Build.CppClean.log
Test/TestMath/Debug/TestMath.log
Test/TestMath/Debug/vc140.idb
Tile3D.sdf
Tile3D/Debug/Tile3D.Build.CppClean.log
Tile3D/Debug/Tile3D.log
Tile3D/Debug/tmatrix4.nativecodeanalysis.xml
Tile3D/Debug/tvector4.nativecodeanalysis.xml
Tile3D.VC.opendb
Tile3D/Debug/Tile3D.idb
Test/TestMath/Debug/TestMath.vcxprojResolveAssemblyReference.cache
Tile3D/Debug/tmathutil.nativecodeanalysis.xml
Tile3D/Debug/tquaternion.nativecodeanalysis.xml
.vs/Tile3D/v15/ipch/AutoPCH/TESTMATH-c1d7cbf3/TESTQUATERNION-822cf026/TESTQUATERNION.ipch
Tile3D/Debug/trotator.nativecodeanalysis.xml
Tile3D/Debug/tplane.nativecodeanalysis.xml
Tile3D/Debug/tray.nativecodeanalysis.xml
Tile3D/Debug/taabbbox.nativecodeanalysis.xml
Test/TestContainer/Debug/vc140.idb
Tile3D/Debug/tmemory.nativecodeanalysis.xml
Tile3D/x64/Debug/Tile3D.log
Debug/TestContainer.lib
Debug/Tile3D.lib
Debug/TestMath.lib
Test/TestContainer/Debug/TestContainer.log
Tile3D/Debug/tobject.nativecodeanalysis.xml
Tile3D/Debug/tstring.nativecodeanalysis.xml
Tile3D/x64/Debug/vc140.idb
Tile3D/Debug/tlog.nativecodeanalysis.xml
Tile3D/Debug/tmemdump.nativecodeanalysis.xml
*.xml
ipch/TESTCORE-918927d1/TESTCORE-8cce1f5.ipch
Test/TestContainer/Debug/TestContainer.Build.CppClean.log
*.exp
Debug/TestCore.lib
Test/TestCore/Debug/TestCore.Build.CppClean.log
Test/TestCore/Debug/vc140.idb
Test/TestCore/Debug/TestCore.log
Test/TestCore/Debug/TestCore.log
Test/TestCore/Debug/TestCore.log
Test/TestCore/Debug/TestCore.log
Test/TestCore/Debug/TestCore.log
Tile3D/Debug/tmemsmall.obj.enc
Test/TestCore/Debug/TestCore.log
Test/TestCore/Debug/TestCore.log
*.enc
Debug/TestMisc.exe
TestMisc/TestMisc/Debug/vc140.idb
TestMisc/TestMisc/Debug/TestMisc.log
